body {
  background-color: #939597; /* PANTONE Ultimate Gray */
}
h1 {
  font-family: 'IBM Plex Mono', monospace;
  color: #F5DF4D; /* PANTONE Illuminating */
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #939597;
  list-style: none;
  margin: 0; 
}
.nav a {
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  display: block;
  padding: .25em;
  color: #F5DF4D;
}
.nav a:hover {
  background: #F5DF4D;
  color: #939597;
}